.login-information .form-control,.login-information .form-select{
    background-color: 	#E8E8E8!important;
    padding: 8px;
}
.login-information .form-control:focus,.login-information .form-select:focus{
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px!important;
    border: 0!important;
}
.registration-information .form-control,.registration-information .form-select{
    background-color: 	#E8E8E8!important;
    padding: 8px;
}
.registration-information .form-control:focus,.registration-information .form-select:focus{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px!important;
    border: 0!important;
}