.relatedproduct .swiper-button-next{
    top:5%;
    right: 10px;
}

.relatedproduct .swiper-button-prev{
    top:5%;
   left: 92%;
}
.relatedproduct .swiper-button-prev,.relatedproduct .swiper-button-next{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    background: #E9E9E9;
    text-align: center;
    z-index: 9;
}

@media(max-width:1024px){
    .relatedproduct .swiper-button-prev{
       left: 90%;
    }
}
@media(max-width:768px){
    .relatedproduct .swiper-button-prev{
       left: 86%;
    }
}
@media(max-width:425px){
    .relatedproduct .swiper-button-prev,.swiper-button-next{
        display: none;
    }
}
